html, body, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.app-content{
  width: 100%;
  height: 100%;
  display: flex;
}

.drawer-nav{
  position: absolute;
  width: 200px;
  height: 100%;
}
.app-sideNav{
  padding: 1%;
}

.navMenuIcon{
  padding: 0 3%;
}


