<section class="top-content ">
  <section class="app-container container-fluid" [hidden]="!auth._isloggedIn">
    <div class="row">
      <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header ">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{"myPal"}}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -- Action Bar  -->

          </div>
        </header>
        <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
          <header class="drawer-header">
            <img src="../../../assets/icons/avatar-boy-512.png" class="img-circle">
            <div class="profileBio">
              <span>{{user.email}}</span>
              <span class="userShtDesc">{{user.shtDesc}}</span>
            </div>
          </header>

          <!--<span class="mdl-layout-title">Title</span>-->
          <nav class="app-side-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">home</i><span>Home</span></a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">inbox</i><span>Inbox</span></a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">delete</i><span>Trash</span></a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">report</i><span>Spam</span></a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">forum</i><span>Forums</span></a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">flag</i><span>Updates</span></a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">people</i><span>Social</span></a>
            <a class="mdl-navigation__link" style="visibility: hidden;" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">local_offer</i><span>Promos</span></a>
            <a class="mdl-navigation__link" style="visibility: hidden;" href=""><i class="mdl-color-text--blue-grey-100 material-icons" role="presentation">shopping_cart</i><span>Purchases</span></a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
          </nav>
        </div>

        <main class="mdl-layout__content">
          <div class="row">
            <main class="container">
              <router-outlet></router-outlet>
            </main>
          </div>
        </main>
      </div>
    </div>
  </section>
</section>

<section class="app-container" [hidden]="auth._isloggedIn">
  <router-outlet></router-outlet>
</section>

