<section class="top-content">
  <section class="inner-bg">
    <section class="container">
      <div class="row">
        <app-login></app-login>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 social-login">
          <h3>...or login with:</h3>
          <div class="social-login-buttons">
            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook
            </a>
            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
              <i class="fa fa-google-plus"></i> Google Plus
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<div class="backstretch">
  <img src="../../../assets/bgImage/1.jpg">
</div>
